<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dw.cfcenter.config.mapper.ConfigMapper">
   
   <select id="getDataSourceByName" resultType="com.dw.cfcenter.config.vo.ConfigVO">
        SELECT 
            *
        FROM
            cf_datasource
        WHERE 
            projectName=#{projectName}
   </select>
  
  <insert id="addDataSource">
       INSERT INTO
             cf_datasource(projectName,source_name,source_value)
       VALUES
             (#{configVo.projectName}, #{configVo.sourceName}, #{configVo.sourceValue})
  </insert>
</mapper>